body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: darkblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: lightblue;
    border-radius: 6px;
    padding: 60px;
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: darkslateblue;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
}

.login-container button {
    width: calc(100% - 20px); 
    padding: 12px;
    background: #3498db;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
}

.login-container button:hover {
    background: #2980b9;
}
label{
    margin-left: -300px;
}